@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Merhaba</h1><br />
    <h4>Veri Tabanı olarak Sqlite kullanılmıştır veri tabanı bağlantısı için appsettings.json içindeki ConnectionStrings'i güncellemeyi unutmayınız!'</h4>
</div>
<br />
<div class="container text-center mt-3">
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">Go to Product Index</a>
</div>
